.header {
  display: grid;
  justify-content: space-between;
  padding: 92px 50px 92px;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
}

.header__link {
  text-underline-offset: 4px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  
}

.header__links-list-item {
  list-style: circle;
  font-size: 18px;
  line-height: 150%;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-underline-offset: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.header__address {
  max-width: 240px;
  justify-self:end;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  min-height: 757px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  font-family: Raleway, sans-serif;
  line-height: 1.15;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  font-weight: normal;
  word-spacing: 18.7px;
}

.bet-button {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 22px;
  text-align: center;
  padding: 12px 32px;
}

.lots {
  margin: 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 0;
}

.card__title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-underline-offset: 4px;

}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 122px 24px 181px 24px;
  gap: 25px;
}

.about__column-left {
  display: flex;
  justify-content: center;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 133px;
}

.about__logo {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

.about__logo-image {
  max-width: 62%;
  max-height: 62%;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  gap: 24px;
  font-size: 20px;
  max-width: 690px;
  
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}